@charset "utf-8";

@font-face {
	font-family: Ad Lib;
	src: url('adlib.ttf') format('truetype'),
}

/* Structural Styles */

html, body {
    height: 100%;
}

html {
	background-color: #84CDF6; /* For browsers that do not support gradients */
	background-image: 
		url('assets/background/BG-Layer-Top.png'),
		url('assets/background/BG-Layer-Middle.png'),
		url('assets/background/BG-Layer-Bottom.png'),
		linear-gradient(#84CDF6, #ADEAFE);
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	height: 100%;
	margin: 0;
}

body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Grid Setup */

.page {
	display: grid;
	background-color: white; 
	margin-top: 10px;
	
	grid-template-columns: 3fr 8fr 2fr;
    grid-template-rows: 200px auto 1fr auto;
	
    gap: 0px;
}

/* Page Content */

header {
	background-color: gainsboro; 
	height: 200px;
	overflow: hidden;
	width: 100%;
	grid-row: 1;
	grid-column: 1/4;
	
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	align-items: center;
}

.logo {
	grid-column: 1; 
	display: flex;
	justify-content: flex-start;
}

.thumb {
	grid-column: 2; 
	display: flex;
	justify-content: center;
	max-width: 270px;
}

.logo, .thumb {
	width: auto;
    height: auto;
}

header img {
	width: auto;
    object-fit: contain;
}

.logo-img {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;

	height: auto;
	width: 90%;

	max-height: 180px;
	max-width: 540px;
}

.thumb-img {
	border: 3px inset whitesmoke;
	box-sizing: border-box;

	height: auto;
	width: 90%;

	max-height: 150px;
	max-width: 255px;
}

.rightcell {
	grid-column: 3;
	max-width: 220px;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: auto;
}

.clock {
	max-width: 220px;
	width: 100%;
	font-family: Helvetica, sans-serif;
	border: 6px inset whitesmoke;
	background-color: white;    
	text-align: center;
	font-size: 1vw;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

.searchbar {
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	margin-right: 0px;
	margin-top: 0px;
	border: none;
	vertical-align: middle;
	display: flex;
	justify-content: flex-end;
	flex: 1;
	padding-top: 20px;
	padding-bottom: 20px;
}

.subsearch {
	text-align: center;
	margin: 10px;
	max-width: 120px;
}

input#search {
	max-width: 120px;
	width: 100%;
}

input#gobutton {
	background-color: #05c46b;
    border: 4px outset #05c46b;
    font-family: "Ad Lib", Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    display: block;
    width: 60px;
    margin: 20px auto;
    
}

nav {
	background-color: grey; 
	max-height: 50px;
	height: 3.2vw;
	min-height: 20px;
	width: 100%;
	grid-row: 2;
	grid-column: 1/4;
	display: flex;
}

nav ul {
	display: flex;
	width: 100%;
}

nav ul li {
	flex: 1;
	display: flex;
}

nav a {
	text-align: center;
	padding: 0px;
	font-family: "Ad Lib", Helvetica, sans-serif;
	font-size: clamp(10px, 1.6vw, 25px);
	
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
	box-sizing: border-box;
}

a.current {
	color: white;
	background-color: hotpink;
	border: 3px outset hotpink;
	text-decoration: none;
	padding: 0px;
}

a.tab {
	padding: 0px;
}

a.tab:link, a.tab:visited, a.tab:hover {
	color: white;
}

a.tab:link, a.tab:visited, a.tab:active {
	background-color: mediumpurple; /* Must be duplicated to override hover */
}
	
a.tab:link, a.tab:visited {
	text-decoration: none;
	border: 3px outset mediumpurple;
}

a.tab:hover {
	background-color: cornflowerblue;
	border: 3px outset cornflowerblue;
	text-decoration: underline;
}

a.tab:active {
	color: yellow;
	background-color: mediumpurple; /* Double override, duplicated intentionally */
	border: 3px inset mediumpurple;
	text-decoration: underline;
}

/* Aside Content Styles */

aside {
	grid-row: 3;
	padding: 10px; 
	min-height: 560px;
}

aside.right {
	grid-column: 3;
	background-color: white; 
	border: 1px solid dimgrey;
	text-align: left;
	font-size: 12px;
}

aside.left {
	grid-column: 1;
	background-color: linen; 
	border: 1px solid dimgrey;
	text-align: center;
}

p.newep {
	font-family: "Ad Lib", Helvetica, sans-serif;
	font-size: clamp(10px, 1.6vw, 25px);
	margin-bottom: 10px;
	margin-top: 10px;
}

p.epname {
	font-family: "Ad Lib", Helvetica, sans-serif;
	font-size: clamp(8px, 1.2vw, 20px);
	margin-bottom: 10px;
	margin-top: 10px;
	color: dimgrey;
}

.newthumb {
	width: 95%;
	height: auto;
	border: 3px inset linen;
	box-sizing: border-box;
}

.imgbox {
	margin-right: 0;
	margin-left: 0;
	padding-bottom: 0;
	display: flex;
	justify-content: center;
}

.rightimg {
	width: 100%;
	height: auto;
	border: none;
	box-sizing: border-box;
}

img.contestantssmol {
	margin-bottom: 20px;
	margin-top: 0px;
	width: 60%;
	height: auto;
}

img.char_card {
	margin-bottom: 20px;
	margin-top: 0px;
	width: 50%;
	height: auto;
}

img.bunniilogo {
	margin-bottom: 20px;
	margin-top: 0px;
	width: 20%;
	height: auto;
}

img.fullcast {
	margin-bottom: 20px;
	margin-top: 0px;
	width: 100%;
	height: auto;
}

img.company {
	width: auto;
	max-height: 50px;
}

/* Central Styles */

.main, .maincomic {
	flex: 1;
	margin: 20px;
	grid-column: 2/3;
}

/* Table Styles */

table.eptable {
	width: 95%;
	margin: 20px;
	background: white;
	border: 2px solid dimgrey;
	border-collapse: collapse;
}

table.eptable th, table.eptable td {
	border: 1px solid dimgrey;
	padding: 5px;
	vertical-align: middle;
}

table.eptable caption {
	caption-side: bottom;
	text-align: right;
}

table.eptable thead {
	background: rgb(79, 155, 255);
	color: white;
}

table.eptable thead tr {
	height: 30px;
}

table.eptable tbody tr {
	height: 40px;
	background: rgb(224, 241, 255);
}

/* Rank List Styles */

.seasonrank {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.rankcolumn {
	flex: 1;
}

li.rank {
	font-family: "Ad Lib", Helvetica, sans-serif;
	font-size: clamp(8px, 1.2vw, 20px);
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 30px;
	color: dimgrey;
}

p.rank1, p.rank2, p.rank3 {
	font-family: "Ad Lib", Helvetica, sans-serif;
	font-size: clamp(11px, 1.35vw, 22px);
	margin-bottom: 10px;
	margin-top: 10px;
}

p.rank1 {
	color: darkred;
}

p.rank2 {
	color: darkblue;
}

p.rank3 {
	color: darkgreen;
}

/* Footer Styles */

footer {
	background-color: gainsboro; 
	grid-row: 4;
	grid-column: 1/4;
	padding: 20px;
	font-size: 8px;
}

footer table th, footer table td{
	border: none;
	padding: 2px;
}

/* Form Styles*/

.formcell {
	font-family: "Ad Lib", Helvetica, sans-serif;
	font-size: clamp(7px, 1vw, 14px);
	margin-bottom: 10px;
	margin-top: 10px;
	color: black;
	width: 120px;
}

fieldset#select5 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.voteicon {
	height: 100px;
	width: auto;
	max-width: 120px;
}

div#buttons {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

/* Comic Styles*/

img.comiclogo {
	height: auto;
	width: 50%;
}

img.comic {
	height: auto;
	width: 80%;
}

img.comicnav {
	height: 60px;
	width: auto;
}

.navbar {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.navbox {
	width: 140px;
	display: flex;
	justify-content: center;
}

p.comicdesc {
	width: 80%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

p.comiccontact {
	width: 80%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	font-size: 8px;
}

p.comicep {
	font-family: "Ad Lib", Helvetica, sans-serif;
	font-size: clamp(15px, 2.5vw, 40px);
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

/* Character Page Styles*/

ul.chardesc {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

li.chartxt {
	width: 80%;
	padding-left: 20px;
	padding-top: 20px;
}

ul img.voteicon {
	max-width: 110px;
	max-height: 100px;
	width: 13%;
	height: 12%;
	margin-top: 20px;
}

/* Crew Page Styles*/

ul.chardesc {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

li.crewbember {  /* "bember" is an inside joke*/
	width: 70%;
	padding-left: 20px;
	padding-top: 20px;
}

img.crewimg {
	max-height: 250px;
	height: auto;
	width: 180px;
	margin-top: 20px;
}
