/* BG color image */
body {
	background-color: #84CDF6; /* For browsers that do not support gradients */
	background-image: linear-gradient(#84CDF6, #ADEAFE);
	font-family: Helvetica, sans-serif;
}

/* Top graphic */
.layer {
	background-image: url('https://data.whicdn.com/images/107577964/original.gif');
}

.maxblock {
	height: 100%;
	width: 100%;
	float: top;
	padding: 10px;
}

.whole {
	background-color: white; 
	height: 100%;
	width: 80%;
	float: top;
	margin-left: auto;
	margin-right: auto;
}

.whole::after {
	content: "";
	clear: both;
	display: table;
}

.topbar {
	background-color: gainsboro;
	height: 200px;
	width: 100%;
	float: top;
}

.tabbar {
	background-color: grey;
	height: 50px;
	width: 100%;
	float: top;

	display: flex;
	justify-content: center;
	align-items: center;
}

.rightsection {
	background-color: linen;
	height: 100%;
	width: 200px;
	float: right;
	margin-right: 10px;
	text-align: center;
	padding: 10px; 
	border: 2px solid dimgrey;
}

.clock {
	float: right;
	width: 220px;
	border: 6px inset;
	background-color: white;    
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
	margin-top: 10px;
}

.imgcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

a.current, a.tab {
	width: 14%;
	height: 100%;
	text-align: center;
	padding: 0px;
	font-family: "Ad Lib", Helvetica, sans-serif;
	font-size: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
}

a.current {
	color: white;
	background-color: hotpink;
	border: 3px outset hotpink;
	text-decoration: none;
	padding: 0px;
}

a.tab {
	padding: 0px;
}

a.tab:link, a.tab:visited, a.tab:hover {
	color: white;
}

a.tab:link, a.tab:visited, a.tab:active {
	background-color: mediumpurple; /* Must be duplicated to override hover */
}
	
a.tab:link, a.tab:visited {
	text-decoration: none;
	border: 3px outset mediumpurple;
}

a.tab:hover {
	background-color: cornflowerblue;
	border: 3px outset cornflowerblue;
	text-decoration: underline;
}

a.tab:active {
	color: yellow;
	background-color: mediumpurple; /* Double override, duplicated intentionally */
	border: 3px inset mediumpurple;
	text-decoration: underline;
}

form {
            background-color: #fff;
            max-width: 500px;
            margin: 50px auto;
            padding: 30px 20px;
            border: 1px solid #c4c1bb;
            border-radius: 3px;
        }

        /* Styling form-control Class */
        .form-control {
            text-align: left;
            margin-bottom: 25px;
        }

        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }

        /* Styling form-control input, 
        select, textarea */
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }

        /* Styling form-control Radio 
        button and Checkbox */
        .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }

        /* Styling Button */
        button {
            background-color: #05c46b;
            border: 4px outset #05c46b;
            font-family: "Ad Lib", Helvetica, sans-serif;
            font-size: 30px;
            color: white;
            display: block;
            width: 160px;
            margin: 20px auto;
        }
		
footer {
	font-size: .70em;
	text-align: center;
}
